/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Body Styling */
body {
    font-family: 'Arial Black', sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.6;
    margin-bottom: 1rem;
}

/* Header Styling */
header {
    background-color: #111;
    padding: 1rem 0;
    text-align: center;
}

/* Center spinning GIF */
.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    max-width: 150px;
    width: 100%;
}

.gif-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Navigation styling */
nav ul {
